{{- define "users" -}}
<section>
    <h2>User List</h2>
    <article>
        {{- range .Users}}
        <h3>{{.Name}}</h3>
        <p>Email: {{.Email}}</p>
        <p>Enabled: {{.Enabled}}</p>
        <p>Id: {{.Id}}</p>
        <button class="edit-btn" hx-get="/app/users/?id={{.Id}}&edit=1" hx-target="#content">Edit</button>
        <button class="btn-delete" hx-delete="/app/users/?id={{.Id}}" hx-target="#content"
            hx-confirm="Are you sure you want to delete {{.Name}}?">
            Delete
        </button>
        {{- end}}
    </article>
</section>
{{- end}}

{{- define "single_user" -}}
<section>
    <h2>User {{.Name}}</h2>
    <article>
        <p>Email: {{.Email}}</p>
        <p>Enabled: {{.Enabled}}</p>
    </article>
</section>
{{- end}}

{{- define "edit_user" -}}
<section>
    <h2>Edit {{.Name}}</h2>
    <article>
        <form hx-put="/app/users/?id={{.Id}}" hx-target="#content">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{.Name}}" required>
                <label for="name">Email</label>
                <input type="text" id="email" name="email" value="{{.Email}}" required>
            </fieldset>

            <fieldset class="cmd">
                <button type="submit">
                    Update User
                </button>
                <button type="button" hx-get="/app/users" hx-target="#content" hx-push-url="true">
                    Cancel
                </button>
            </fieldset>
        </form>
    </article>
</section>
{{- end}}